<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956753787128-dk35rbankqmb05lbi4tpngaj4bfcv83i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956753787128-dk35rbankqmb05lbi4tpngaj4bfcv83i</string>
	<key>API_KEY</key>
	<string>AIzaSyBxQXIXoKvdMhmawoCk3SZzU6OTZR0liDo</string>
	<key>GCM_SENDER_ID</key>
	<string>956753787128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalMoneyManager</string>
	<key>PROJECT_ID</key>
	<string>sample-project-72cda</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-project-72cda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956753787128:ios:66ca8899c9dfec2a9b230d</string>
</dict>
</plist>